workspace/pl_monitoring_config.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderStoredProcedureName": "[dbo].[spGetConfig]",
            "storedProcedureParameters": {
              "ConfigName": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.pConfigName",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "LoadFramework",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "e3133f60-e2dd-435c-ba28-6c4c88977f6f",
                  "endpoint": "n4qsebcwyjpu3cibgdx7fzi5gq-jw5lm3mjuiuunldhmjzvu3fjxq.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "6db6ba4d-a289-4629-ac67-62735a6ca9bc"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 1,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SQL - Get Config",
        "description": "stored procedure to extract the configuration",
        "dependsOn": []
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[dbo].[spInsertLoadLog]",
          "storedProcedureParameters": {
            "InvokedNotebook": {
              "value": null,
              "type": "String"
            },
            "InvokedPipeline": {
              "value": "pl_pm_execution",
              "type": "String"
            },
            "LoadId": {
              "value": {
                "value": "@pipeline().parameters.pLoadId",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "LoadStatus": {
              "value": {
                "value": "@pipeline().parameters.pPipelineStatusSucceeded",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            }
          }
        },
        "linkedService": {
          "name": "LoadFramework",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "e3133f60-e2dd-435c-ba28-6c4c88977f6f",
              "endpoint": "n4qsebcwyjpu3cibgdx7fzi5gq-jw5lm3mjuiuunldhmjzvu3fjxq.datawarehouse.fabric.microsoft.com",
              "workspaceId": "6db6ba4d-a289-4629-ac67-62735a6ca9bc"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 1,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SQL - execution - log success",
        "description": "stored procedure to log the success of the previous activity",
        "dependsOn": [
          {
            "activity": "PL - execution",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[dbo].[spInsertLoadLog]",
          "storedProcedureParameters": {
            "InvokedNotebook": {
              "value": null,
              "type": "String"
            },
            "InvokedPipeline": {
              "value": "pl_monitoring_execution",
              "type": "String"
            },
            "LoadId": {
              "value": {
                "value": "@pipeline().parameters.pLoadId",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "LoadStatus": {
              "value": {
                "value": "@pipeline().parameters.pPipelineStatusFailed",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            }
          }
        },
        "linkedService": {
          "name": "LoadFramework",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "e3133f60-e2dd-435c-ba28-6c4c88977f6f",
              "endpoint": "n4qsebcwyjpu3cibgdx7fzi5gq-jw5lm3mjuiuunldhmjzvu3fjxq.datawarehouse.fabric.microsoft.com",
              "workspaceId": "6db6ba4d-a289-4629-ac67-62735a6ca9bc"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 1,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SQL - execution - log failure",
        "description": "stored procedure to log the failure of the previous activity",
        "dependsOn": [
          {
            "activity": "PL - execution",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "vConfiguration",
          "value": {
            "value": "@activity('SQL - Get Config').output.firstRow.Configuration",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "VAR - Set vConfiguration",
        "dependsOn": [
          {
            "activity": "SQL - Get Config",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "InvokePipeline",
        "typeProperties": {
          "parameters": {
            "pModule": {
              "value": "@pipeline().parameters.pModule",
              "type": "Expression"
            },
            "pPipelineStatusFailed": {
              "value": "@pipeline().parameters.pPipelineStatusFailed",
              "type": "Expression"
            },
            "pPipelineStatusSucceeded": {
              "value": "@pipeline().parameters.pPipelineStatusSucceeded",
              "type": "Expression"
            },
            "pPipelineStatusCancelled": {
              "value": "@pipeline().parameters.pPipelineStatusCancelled",
              "type": "Expression"
            },
            "pLoadId": {
              "value": "@pipeline().parameters.pLoadId",
              "type": "Expression"
            },
            "pConfiguration": {
              "value": "@variables('vConfiguration')",
              "type": "Expression"
            },
            "pDebugMode": "no",
            "pConfigName": {
              "value": "@pipeline().parameters.pConfigName",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true,
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "pipelineId": "7fba5e78-6251-aabf-4981-8dcd87ade051",
          "operationType": "InvokeFabricPipeline"
        },
        "externalReferences": {
          "connection": "10dc1987-0e98-4a21-b727-efb0ad909097"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "PL - execution",
        "dependsOn": [
          {
            "activity": "VAR - Set vConfiguration",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "pModule": {
        "type": "string",
        "defaultValue": "platform-monitoring"
      },
      "pPipelineStatusFailed": {
        "type": "string",
        "defaultValue": "Failed"
      },
      "pPipelineStatusSucceeded": {
        "type": "string",
        "defaultValue": "Succeeded"
      },
      "pPipelineStatusCancelled": {
        "type": "string",
        "defaultValue": "Cancelled"
      },
      "pLoadId": {
        "type": "string",
        "defaultValue": "1"
      },
      "pConfigName": {
        "type": "string",
        "defaultValue": "Initialization"
      }
    },
    "variables": {
      "vLoadId": {
        "type": "String",
        "defaultValue": "1"
      },
      "vConfiguration": {
        "type": "String",
        "defaultValue": "Initialization"
      }
    }
  }
}